#logo{height: 100px;
    margin-top: 40px;}
    .navbar {
        justify-content: space-between;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-item {
        margin: 0 10px;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-left, .navbar-right {
        display: flex;
        align-items: center;
    }